<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Utilities</title>
</head>
<body>
   <h1>Welcome to the text analizer</h1>
   <p>Enter your text here.</p>
   <form action='/analyze' method="get">
    <textarea name="text" id="" cols="30" rows="10" style="width: 1165px; height: 196px;"></textarea>
    <br>
    <input type="checkbox" name="removepunc">Remove Punctuation
    <br> 
    <input type="checkbox" name="fullcaps">Upper Case
    <br> 
    <input type="checkbox" name="newlineremover">New Line Remover
    <br>
    <input type="checkbox" name="extraspaceremover">Extra Space Remover
    <br> 
    <input type="checkbox" name="charcount">Character Count
    <br> 
    <button type='submit'>Analyze Text</button>
   </form>
</body>
</html>